---
import SiteBackground from "../components/site-background.astro";
import Layout from "../layouts/layout.astro";
---

<Layout title="Page not found">
  <SiteBackground />
  <section class="flex-grow flex flex-col justify-center items-center">
    <span class="text-title-2 center">404</span>
    <span class="text-title-4">Page Not Found</span>
  </section>
</Layout>
