---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import { marked } from "marked";
import ImgFadeInHandler from "../components/img-fade-in-handler.astro";
import PageSection from "../components/page-section.astro";
import { getManagedImage } from "../helpers/media";
import Layout from "../layouts/layout.astro";

const { data } = await getEntry("about", "page");
---

<Layout title="about">
  <ImgFadeInHandler />
  <!-- <div class="banner" slot="before-header">
    <span>banner</span>
  </div> -->

  <PageSection>
    <h2>
      {data.title}
    </h2>
    <div class="prose" set:html={marked.parse(data.intro)} />
    {
      data.team?.map((tm) => (
        <Image
          class="img-fade-in"
          alt="profile image"
          src={getManagedImage(tm.photo)}
          style={{ width: "auto", height: 300 }}
        />
      ))
    }
  </PageSection>
</Layout>

<style>
  .banner {
    @apply bg-fuchsia-700 p-2 flex justify-center font-bold;
  }
</style>
