---
import { getEntry } from "astro:content";
import { marked } from "marked";
import ManagedImage from "../components/managed-image.astro";
import Layout from "../layouts/layout.astro";

const { data } = await getEntry("about", "page");
---

<Layout title="about">
  <div class="banner" slot="before-header">
    <span>banner</span>
  </div>

  <section>
    <h2>
      {data.title}
    </h2>
    <p set:html={marked.parse(data.intro)} />
    {
      data.team?.map((tm) => (
        <ManagedImage
          height={300}
          width={300}
          alt="profile image"
          src={tm.photo}
          style={{ width: "auto", height: 300 }}
        />
      ))
    }
  </section>
</Layout>

<style>
  .banner {
    @apply bg-fuchsia-700 p-2 flex justify-center font-bold;
  }
</style>
