---
import { getEntry } from "astro:content";
import type { About, ContentSection } from "../content/types";
import PageSection from "./common/page-section.astro";

const { data } = (await getEntry(
  "home-page",
  "about",
)) as ContentSection<About>;

const cards = data.
---

<PageSection class="about-section relative" 
 <div class="bracket-card">
  <p class="text-"></p>
 </div>
/>

<style>
  .about-section strong {
    @apply text-base-100;
  }
</style>
