---
import PageSection from "./common/page-section.astro";
---

<PageSection class="hero-section h-[60rem] flex items-center">
  <span class="font-title text-[6rem] leading-tight">
    <!-- TODO: hook up to cms -->
    The <strong>ELITE</strong> choice&#10; for commercial door&#10; installation
  </span>
</PageSection>

<style>
  .hero-section strong {
    @apply text-base-100;
  }
</style>
