---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import type { Banner, ContentSection } from "../content/types";
import { getManagedImage } from "../helpers/media";
import Markdown from "./common/markdown.astro";
import PageSection from "./common/page-section.astro";

const {
  data: { slogan, image },
} = (await getEntry("home-page", "banner")) as ContentSection<Banner>;
---

<PageSection>
  {
    !!image?.length ? (
      image.map((i) => (
        <div class="h-[calc(var(--site-space-y)*6)] w-full">
          <Image
            class="banner-img w-full h-full object-cover img-fade-in"
            src={getManagedImage(i.src)}
            alt={i.alt}
            loading="eager"
          />
        </div>
      ))
    ) : (
      <Markdown content={slogan} noMarginY />
    )
  }
</PageSection>

<style>
  .page-section {
    @apply flex items-center;
    padding-bottom: calc(
      var(--banner-section-pb) + calc(var(--page-section-py) / 2)
    );

    .markdown {
      & * {
        @apply font-title leading-tight text-[2.75rem] sm:text-[3.5rem] md:text-[4.5rem] lg:text-[6rem] motion-safe:transition-[font-size] text-full !text-opacity-75;
      }
      strong {
        @apply text-empty font-bold;
      }
    }
  }

  .page-section:has(.banner-img) {
    @apply p-0;
  }
</style>

<style is:global>
  .page-section-inner:has(.banner-img) {
    @apply m-0 w-full max-w-full;
  }
</style>
