---
import Icon from "./icon.astro";
import ManagedImage from "./managed-image.astro";

// const getCompId = (componentDescriptor: string) =>
//   `${componentDescriptor}_${crypto.randomUUID()}`;

interface Props {
  images: { src: string; alt: string }[];
  height?: number;
}
const { images: imagesProp, height: heightProp } = Astro.props;
const images = imagesProp.slice(0, 8);
const height = heightProp ?? 500;
---

<carousel-comp>
  <div class="relative" style={{ height: `${height}px` }}>
    <div class="carousel carousel-center w-full h-full space-x-4 px-4">
      {
        images.map(({ src, alt }, idx) => (
          <div class="carousel-item w-5/6">
            <ManagedImage
              class="rounded-box object-cover w-full h-full"
              loading={[0, 1].includes(idx) ? "eager" : "lazy"}
              width={height * 2}
              {...{ alt, src, height }}
            />
          </div>
        ))
      }
    </div>

    <div class="absolute left-8 top-1/2 -translate-y-1/2">
      <button class={`carousel-comp__nav-btn-prev btn btn-sm btn-circle`}>
        ❮
      </button>
    </div>

    <div class="absolute right-8 top-1/2 -translate-y-1/2">
      <button class={`carousel-comp__nav-btn-next btn btn-sm btn-circle`}>
        ❯
      </button>
    </div>
  </div>

  <div class="flex w-full justify-center items-center gap-2 py-2">
    {
      images.map((_, idx) => (
        <button
          class:list={[
            "carousel-comp__pg-btn btn btn-circle btn-xs no-touch:h-4 no-touch:w-4 no-touch:min-h-2",
            { "btn-active": !idx },
          ]}
        />
      ))
    }
    <div class="divider divider-horizontal mx-1"></div>
    <button class="carousel-comp__play-btn btn btn-circle btn-xs btn-ghost">
      <Icon icon="pause" class="h-5" />
      <Icon icon="play" class="hidden h-5" />
    </button>
  </div>
</carousel-comp>

<style>
  .carousel-comp__nav-btn {
    transform: translate(-50%);
  }
</style>

<script>
  class Carousel extends HTMLElement {
    _activeSlideIdx: number;
    scrollContainer: Element | null;
    paused: boolean;
    numImages: number;
    timeouts: NodeJS.Timeout[];

    constructor() {
      super();

      this._activeSlideIdx = 0;
      this.scrollContainer = this.querySelector(".carousel");
      this.paused = false;
      this.numImages = this.scrollContainer?.children.length ?? 0;
      this.timeouts = [];

      Array.from(this.querySelectorAll(`.carousel-comp__pg-btn`)).map(
        (e, idx) =>
          e.addEventListener("click", () => {
            this.activeSlideIdx = idx;
            this.scrollToIdx(this.activeSlideIdx);
          }),
      );

      this.querySelector(`.carousel-comp__nav-btn-prev`)?.addEventListener(
        "click",
        () => this.incrementSlide(-1),
      );

      this.querySelector(`.carousel-comp__nav-btn-next`)?.addEventListener(
        "click",
        () => this.incrementSlide(1),
      );

      const playButton = this.querySelector(`.carousel-comp__play-btn`);
      const switchPlayButtonIcon = () => {
        const children = Array.from(playButton?.children ?? []);
        if (this.paused) children.reverse();
        children.at(0)?.classList.remove("hidden");
        children.at(1)?.classList.add("hidden");
      };
      playButton?.addEventListener("click", () => {
        if (this.paused) {
          this.paused = false;
          switchPlayButtonIcon();
          this.incrementSlide(1);
          this.start();
        } else {
          this.paused = true;
          switchPlayButtonIcon();
          this.stop();
        }
      });

      this.scrollContainer?.addEventListener("scrollend", () => {
        if (!this.scrollContainer) return;

        Array.from(this.scrollContainer.children ?? []).forEach((c, idx) => {
          if (!this.scrollContainer) return;

          const parentRect = this.scrollContainer.getBoundingClientRect();
          const childRect = c.getBoundingClientRect();
          if (
            childRect.left >= parentRect.left &&
            childRect.right <= parentRect.right
          ) {
            this.activeSlideIdx = idx;
            if (!this.paused) this.restart();
          }
        });
      });

      window.addEventListener("blur", () => {
        if (this.paused) return;
        this.stop();
      });

      window.addEventListener("focus", () => {
        if (this.paused) return;
        this.start();
      });

      this.start();
    }

    get activeSlideIdx(): number {
      return this._activeSlideIdx;
    }

    set activeSlideIdx(idx: number) {
      this._activeSlideIdx = idx;

      this.querySelectorAll(`.carousel-comp__pg-btn`).forEach((e, idx) => {
        if (idx === this.activeSlideIdx) {
          e.classList.add("btn-active");
        } else {
          e.classList.remove("btn-active");
        }
      });
    }

    scrollToIdx(idx: number) {
      if (!this.paused) this.restart();
      const slide = this.scrollContainer?.children[idx];
      this.scrollContainer?.scrollBy({
        left: slide?.getBoundingClientRect().left,
        behavior: "smooth",
      });
    }

    incrementSlide(by: number) {
      const unsafeIdx = this.activeSlideIdx + by;
      this.activeSlideIdx =
        unsafeIdx < 0
          ? this.numImages + (unsafeIdx % this.numImages)
          : unsafeIdx % this.numImages;
      this.scrollToIdx(this.activeSlideIdx);
    }

    start() {
      if (this.timeouts.length) return;
      this.timeouts.push(setTimeout(() => this.incrementSlide(1), 6000));
    }

    stop() {
      while (this.timeouts.length) {
        clearTimeout(this.timeouts.pop());
      }
    }

    restart() {
      this.stop();
      this.start();
    }
  }

  customElements.define("carousel-comp", Carousel);
</script>
