---
import { getEntry } from "astro:content";
import { SECTION_DEFS } from "../constants";
import type { ContentSection, OurWork } from "../content/types";

const {
  data: { title, galleries },
} = (await getEntry("home-page", "our-work")) as ContentSection<OurWork>;

const { sectionId, sectionClass } = SECTION_DEFS["distributorships"];
---

<div id={sectionId} class:list={[sectionClass, "glassy glass-empty glass-card"]}>
  <span class="text-title-2">Distributorships</span>
  {
    [...Array(3)].map((_, i) => (
        <h1 class="text-title-3">{`Lorem Ipsum ${i}`}</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <br />
    ))
  }
</div>
