---
import type { HTMLAttributes } from "astro/types";
import { propsWithMergedClasses } from "../helpers/style";
import Icon, { type IconProps } from "./icon.astro";

interface LogoIconProps extends Omit<IconProps, "icon"> {
  icon?: IconProps["icon"];
}

interface Props extends HTMLAttributes<"a"> {
  variant?: "small" | "large";
  iconProps?: LogoIconProps;
}

const { variant, iconProps, ...aProps } = Astro.props;
---

<a href="/" {...propsWithMergedClasses(aProps, ["max-w-full"])}>
  <Icon icon={`logo-${variant}`} {...iconProps} />
</a>
