---
import { getEntry } from "astro:content";
import { SECTION_DEFS } from "../constants";
import type { ContentSection, OurWork } from "../content/types";
import Carousel from "./common/carousel.astro";
import PageSection from "./common/page-section.astro";

const {
  data: { title, galleries },
} = (await getEntry("home-page", "our-work")) as ContentSection<OurWork>;

const { sectionId, sectionClass } = SECTION_DEFS["our-work"];
---

<PageSection>
  <div id={sectionId} class:list={[sectionClass, "offset-section"]}>
    <div
      class={`
        glass-full glass-card [&&]:px-0 flex flex-col gap-[var(--site-space-x)]
        motion-safe:opacity-0 intersect:animate-fade-up intersect-once intersect-th-0.1 motion-reduce:intersect:animate-none
      `}
    >
      <div class="px-[var(--site-space-x)]">
        <span class="text-title-2">{title}</span>
      </div>
      <Carousel images={galleries[0].images} />
    </div>
  </div>
  <slot />
</PageSection>

<style>
  .page-section {
    --carousel-px: var(--site-space-x);
    --carousel-gap: var(--site-space-x);

    @apply pt-0;

    .offset-section {
      @apply relative;
      top: calc(var(--about-section-pb) * -1);
      margin-bottom: calc(var(--about-section-pb) * -1);
    }
  }
</style>
