---
import type { HTMLAttributes } from "astro/types";
import { propsWithMergedClasses } from "../helpers/style";

interface Props extends HTMLAttributes<"section"> {}

const props = Astro.props;
---

<section {...propsWithMergedClasses(props, ["page-section"])}>
  <slot />
</section>

<style is:global>
  .page-section {
    @apply site-width-content site-px;
  }
</style>
