---
import CertificationsSection from "./certifications-section.astro";
import PageSection from "./common/page-section.astro";
import DistributorshipsSection from "./distributorships-section.astro";
import OurWorkSection from "./our-work-section.astro";
---

<PageSection>
  <div class="offset-section">
    <OurWorkSection />
    <CertificationsSection />
    <DistributorshipsSection />
  </div>
</PageSection>

<style>
  .page-section {
    @apply pt-0;

    .offset-section {
      @apply relative;
      top: calc(var(--about-section-pb) * -1);
      margin-bottom: calc(var(--about-section-pb) * -2);
    }
  }
</style>
