---
import LogoLink from "./common/logo-link.astro";
import SiteTabs from "./site-tabs.astro";
---

<div
  id="site-logo-area"
  class="site-px site-py flex justify-center items-center gap-2 bg-base-100"
>
  <LogoLink
    variant="large"
    class="py-[12vw] sm:py-[5rem]"
    iconProps={{ class: "w-[75vw] sm:w-[30rem] h-auto" }}
  />
</div>
<header
  id="site-header"
  class="unstuck bg-base-200 site-px shadow-2xl sticky top-0 z-50"
>
  <nav class="site-width-content h-20 flex justify-between items-center gap-4">
    <LogoLink
      variant="large"
      id="nav-logo"
      class="transition h-10"
      iconProps={{ class: "h-full" }}
    />
    <SiteTabs />
  </nav>
</header>

<style is:global>
  #site-header.unstuck #nav-logo {
    @apply -translate-x-1/4 opacity-0;
  }
  #site-header.stuck #nav-logo {
    @apply -translate-x-0 opacity-100;
  }
</style>

<script>
  import { throttle } from "../helpers/performance";

  document.addEventListener("astro:page-load", () => {
    const navLogo = document.getElementById("nav-logo");
    const siteHeader = document.getElementById("site-header");

    let alreadyStuck = false;
    const manageNavLogoClasses = throttle(() => {
      const isStuck = !document
        .getElementById("site-header")
        ?.getBoundingClientRect().top;
      checkStuck: if (isStuck) {
        if (alreadyStuck) break checkStuck;
        siteHeader?.classList.remove("unstuck");
        siteHeader?.classList.add("stuck");
        alreadyStuck = true;
      } else {
        if (!alreadyStuck) break checkStuck;
        siteHeader?.classList.remove("stuck");
        siteHeader?.classList.add("unstuck");
        alreadyStuck = false;
      }
    }, 50);

    manageNavLogoClasses();
    window.addEventListener("scroll", manageNavLogoClasses, { passive: true });

    /**
     * adding transition only after first scroll avoids slide animation
     * if browser restores place after reload
     */
    window.addEventListener(
      "scroll",
      () => {
        navLogo?.classList.add("transition");
      },
      { once: true },
    );
  });
</script>
