---
import Icon from "./icon.astro";
---

<header class="sticky -top-80 z-50">
  <div
    id="site-logo"
    class="site-width-content site-px site-py flex justify-center items-center gap-2 h-80"
  >
    <Icon icon="logo" class="h-[6.75rem]" />
  </div>
  <div class="glass">
    <nav class="site-width-content site-px py-4 flex justify-between">
      <Icon icon="logo" id="nav-logo" class="-translate-x-3/4 opacity-0 h-10" />
      <div class="flex gap-2">
        {
          [
            { pathname: "/", label: "home" },
            { pathname: "/about", label: "about" },
          ].map(({ pathname, label }) => (
            <a
              href={pathname}
              class:list={[
                "btn btn-ghost",
                { "btn-active": Astro.url.pathname === pathname },
              ]}
              data-astro-prefetch
            >
              {label}
            </a>
          ))
        }
      </div>
    </nav>
  </div>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const navLogo = document.getElementById("nav-logo");

    const io = new IntersectionObserver(
      (entries) => {
        entries.forEach((e) => {
          if (!navLogo) return;

          if (e.isIntersecting)
            navLogo.classList.add("-translate-x-3/4", "opacity-0");
          else {
            navLogo.classList.remove("-translate-x-3/4", "opacity-0");
          }
        });
      },
      { threshold: 0.01 },
    );

    const siteLogo = document.getElementById("site-logo");
    if (siteLogo) io.observe(siteLogo);

    // adding transition only after scrolling avoids animation when browser restores place after reload
    window.addEventListener(
      "scroll",
      () => {
        navLogo?.classList.add("transition");
      },
      { once: true },
    );
  });
</script>
