---
import type { HTMLAttributes } from "astro/types";
import { propsWithMergedClasses } from "../helpers/style";

interface Props extends HTMLAttributes<"div"> {}

const props = Astro.props;
/**
 * using canvas because:
 *   - firefox limits blur to 100px -- plus any sort of blur in firefox except backdrop
 *     (even gaussian blur in svg, or using a transparent png) causes rendering artifacts
 *   - svgs had inconsistant success and performace across browsers
 *   - so instead using a canvas with blur works and performs really well everywhere...
 *   - ...except safari which doesn't support canvas filters, so we're just using a css hack
 *     to target only safari to make visible an overlway with backdrop-blur
 */
---

<div {...propsWithMergedClasses(props, ["site-background"])} transition:persist>
  <canvas
    id="bg-canvas"
    height={100}
    width={100}
    class="canvas-not-loaded w-[125%] h-[125%] transition duration-load translate-x-[-10%] translate-y-[-10%] border border-red-500"
  >
  </canvas>
  <div class="bg-canvas-overlay"></div>
</div>

<style is:global>
  .canvas-not-loaded {
    @apply opacity-0;
  }
  .canvas-loaded {
    @apply opacity-100;
  }
  .site-background {
    @apply absolute inset-0 -z-10 overflow-clip bg-base-100;
  }
  .bg-canvas-overlay {
    @apply absolute inset-0 z-10 backdrop-blur-[140px] hidden safari:block;
  }
</style>

<script>
  let drawn = false;
  const drawCanvas = () => {
    const styles = getComputedStyle(document.documentElement);
    const canvas = document.getElementById(
      "bg-canvas",
    ) as HTMLCanvasElement | null;
    const ctx = canvas?.getContext("2d");
    if (ctx) {
      ctx.filter = "blur(10px)";
      ctx.globalAlpha = 0.45;

      const stylesLoaded = !!styles.getPropertyValue("--site-bg-color-1");
      if (!stylesLoaded) return;

      ctx.fillStyle = styles.getPropertyValue("--site-bg-color-1");
      ctx.beginPath();
      ctx.moveTo(40, 0);
      ctx.lineTo(75, 100);
      ctx.lineTo(25, 100);
      ctx.lineTo(10, 0);

      ctx.fill();

      ctx.fillStyle = styles.getPropertyValue("--site-bg-color-2");
      ctx.beginPath();
      ctx.moveTo(40, 0);
      ctx.lineTo(75, 100);
      ctx.lineTo(100, 100);
      ctx.lineTo(100, 95);
      ctx.lineTo(55, 0);
      ctx.fill();

      canvas?.classList.add("canvas-loaded");
      drawn = true;
      console.log(`:::DRAWN::: `, drawn);
    }
  };

  drawCanvas();
  window.addEventListener("load", () => {
    console.log(`:::"LOAD"::: `, "load");
    // sometimes it hasn't loaded yet when run
    if (!drawn) drawCanvas();
  });
</script>
