---
import type { HTMLAttributes } from "astro/types";
import { propsWithMergedClasses } from "../../helpers/style";
import Icon, { type IconProps } from "./icon.astro";

interface LogoIconProps extends Omit<IconProps, "icon"> {
  icon?: IconProps["icon"];
}

interface Props extends HTMLAttributes<"a"> {
  variant?: "small" | "large";
  iconProps?: LogoIconProps;
}

const { variant, iconProps, href: hrefProps, ...aProps } = Astro.props;
const href = hrefProps === undefined ? "/" : hrefProps;
---

<a
  data-astro-prefetch
  aria-label={`site ${href === "/" ? "home" : href} page`}
  {...propsWithMergedClasses({ ...aProps, href }, ["max-w-full"])}
>
  <Icon icon={`logo-${variant}`} {...iconProps} />
</a>
