---
import type { HTMLAttributes } from "astro/types";
import { propsWithMergedClasses } from "../../helpers/style";

interface Props extends HTMLAttributes<"section"> {
  forceStyle?: "fore" | "back";
}

const { forceStyle, ...props } = Astro.props;
---

<section {...propsWithMergedClasses(props, ["page-section", forceStyle])}>
  <div class="page-section-inner site-width-content">
    <slot />
  </div>
</section>

<style is:global>
  .page-section {
    @apply site-px py-[var(--page-section-py)];
  }

  .page-section:nth-of-type(even):not(.back),
  .page-section.fore {
    @apply bg-base-100;
  }
  .page-section:nth-of-type(odd):not(.fore),
  .page-section.back {
    --shadow-opacity: 0.08;
    @media (prefers-color-scheme: dark) {
      --shadow-opacity: 0.32;
    }

    @apply border-y border-[var(--fallback-bc,oklch(var(--bc)/0.1))];
    box-shadow:
      inset 0px 36px 36px -36px rgba(0, 0, 0, var(--shadow-opacity)),
      inset 0px -36px 36px -36px rgba(0, 0, 0, var(--shadow-opacity));
  }
</style>
