---
import type { HTMLAttributes } from "astro/types";
import { propsWithMergedClasses } from "../../helpers/style";

interface Props extends HTMLAttributes<"section"> {}

const props = Astro.props;
---

<section {...propsWithMergedClasses(props, ["page-section"])}>
  <div class="site-width-content">
    <slot />
  </div>
</section>

<style is:global>
  [data-theme="dark"] .page-section {
    @apply my-32;
  }

  .page-section {
    @apply site-px py-8;
  }

  .page-section:nth-of-type(even) {
    @apply bg-base-100;
  }
  .page-section:nth-of-type(odd) {
    --shadow-opacity: 0.08;
    @media (prefers-color-scheme: dark) {
      --shadow-opacity: 0.32;
    }

    @apply border-y border-[var(--fallback-bc,oklch(var(--bc)/0.1))];
    box-shadow:
      inset 0px 36px 36px -36px rgba(0, 0, 0, var(--shadow-opacity)),
      inset 0px -36px 36px -36px rgba(0, 0, 0, var(--shadow-opacity));
  }
</style>
