---
import SiteHeader from "../components/site-header.astro";
import RootLayout from "./root-layout.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<RootLayout {...{ title }}>
  <slot slot="before-layout" name="before-layout" />
  <slot name="before-header" />
  <SiteHeader />
  <main>
    <slot />
  </main>
  <footer class="site-px site-py">
    <div class="site-width-content">footer</div>
  </footer>
</RootLayout>

<style is:global>
  body {
    @apply relative min-h-screen flex flex-col overflow-x-hidden;
  }

  main {
    @apply flex-grow flex flex-col site-py;
  }
</style>
