---
import RootLayout from "./root-layout.astro";
import Logo from "../assets/images/logo.svg?raw";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<RootLayout {...{ title }}>
  <div id="site-container">
    <slot name="before-header" />
    <header>
      <div class="width-content flex gap-2">
        <Fragment set:html={Logo} />
      </div>
    </header>
    <slot name="after-header" />
    <main class="width-content">
      <slot />
    </main>
    <footer class="width-content">footer</footer>
  </div>
</RootLayout>

<style>
  #site-container {
    @apply min-h-screen flex flex-col;
  }

  header > div,
  main,
  footer {
    @apply p-4;
  }

  main {
    @apply flex-grow flex flex-col;
  }
</style>
