---
import SiteHeader from "../components/site-header.astro";
import RootLayout from "./root-layout.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<RootLayout {...{ title }}>
  <slot name="before-header" />
  <SiteHeader />
  <slot name="after-header" />
  <main class="width-content">
    <slot />
  </main>
  <footer class="width-content">footer</footer>
</RootLayout>

<style is:global>
  body {
    @apply min-h-screen flex flex-col;
  }

  #site-logo,
  nav,
  main,
  footer {
    @apply p-6 px-4 sm:px-6 transition-[padding];
  }

  main {
    @apply flex-grow flex flex-col;
  }

  footer {
    @apply mb-[env(safe-area-inset-bottom)];
  }
</style>
