---
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <!-- TODO: add description -->
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @tailwind utilities;

  @layer utilities {
    .test-u {
      color: red;
    }
  }

  body {
    @apply relative min-h-screen flex flex-col overflow-x-clip;
  }

  /* poppins-regular - latin */
  @font-face {
    font-display: swap;
    font-family: "poppins";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/poppins-v21-latin-regular.woff2") format("woff2");
  }

  /* poppins-italic - latin */
  @font-face {
    font-display: swap;
    font-family: "poppins";
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/poppins-v21-latin-italic.woff2") format("woff2");
  }

  /* poppins-700 - latin */
  @font-face {
    font-display: swap;
    font-family: "poppins";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/poppins-v21-latin-700.woff2") format("woff2");
  }

  /* poppins-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: "poppins";
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/poppins-v21-latin-700italic.woff2") format("woff2");
  }

  /* nunito-regular - latin */
  @font-face {
    font-display: swap;
    font-family: "nunito";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/nunito-v26-latin-regular.woff2") format("woff2");
  }

  /* nunito-italic - latin */
  @font-face {
    font-display: swap;
    font-family: "nunito";
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/nunito-v26-latin-italic.woff2") format("woff2");
  }

  /* nunito-700 - latin */
  @font-face {
    font-display: swap;
    font-family: "nunito";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/nunito-v26-latin-700.woff2") format("woff2");
  }

  /* nunito-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: "nunito";
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/nunito-v26-latin-700italic.woff2") format("woff2");
  }
</style>
