---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="is-server">
  <head>
    <meta charset="UTF-8" />
    <!-- TODO: add description -->
    <meta
      name="description"
      content="Elite Commercial Door, Inc. is a state licensed & insured premier company for all of your automatic or manual commercial door needs."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<script>
  import { IntersectionHandler } from "../library/intersection-handler";
  IntersectionHandler.start();

  // avoid fresh loaded transition flash
  document.documentElement.classList.remove("is-server");

  // avoid smooth scroll after refresh
  const allATags = document.querySelectorAll("a");
  const turnOnSmoothScrolling = () => {
    document.documentElement.classList.add("motion-safe:scroll-smooth");
    allATags.forEach((a) =>
      a.removeEventListener("click", turnOnSmoothScrolling),
    );
  };
  allATags.forEach((a) => a.addEventListener("click", turnOnSmoothScrolling));
</script>

<style is:global>
  :root {
    @apply init-dynamic-site-vars;
  }

  :root.is-server * {
    @apply !transition-none;
  }

  body {
    @apply relative min-h-screen flex flex-col overflow-x-clip;
  }

  /* poppins-regular - latin */
  @font-face {
    font-display: swap;
    font-family: "poppins";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/poppins-v21-latin-regular.woff2") format("woff2");
  }

  /* poppins-italic - latin */
  @font-face {
    font-display: swap;
    font-family: "poppins";
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/poppins-v21-latin-italic.woff2") format("woff2");
  }

  /* poppins-600 - latin */
  @font-face {
    font-display: swap;
    font-family: "poppins";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/poppins-v21-latin-600.woff2") format("woff2");
  }

  /* poppins-600italic - latin */
  @font-face {
    font-display: swap;
    font-family: "poppins";
    font-style: italic;
    font-weight: 600;
    src: url("/fonts/poppins-v21-latin-600italic.woff2") format("woff2");
  }

  /* poppins-700 - latin */
  @font-face {
    font-display: swap;
    font-family: "poppins";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/poppins-v21-latin-700.woff2") format("woff2");
  }

  /* poppins-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: "poppins";
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/poppins-v21-latin-700italic.woff2") format("woff2");
  }

  /* nunito-regular - latin */
  @font-face {
    font-display: swap;
    font-family: "nunito";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/nunito-v26-latin-regular.woff2") format("woff2");
  }

  /* nunito-italic - latin */
  @font-face {
    font-display: swap;
    font-family: "nunito";
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/nunito-v26-latin-italic.woff2") format("woff2");
  }

  /* nunito-700 - latin */
  a @font-face {
    font-display: swap;
    font-family: "nunito";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/nunito-v26-latin-700.woff2") format("woff2");
  }

  /* nunito-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: "nunito";
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/nunito-v26-latin-700italic.woff2") format("woff2");
  }

  @tailwind components;
  @layer components {
    .tl-tab {
      @apply inline-flex items-center font-title text-lg sm:text-xl border-transparent whitespace-nowrap text-base-content transition-colors duration-200 h-[var(--nav-height)];
      @apply no-touch:hover:text-opacity-75 no-touch:hover:!border-opacity-50;
    }
    .tl-tab-x {
      @apply border-y-[0.6rem] no-touch:hover:border-b-primary px-5 justify-center;
    }
    .tl-tab-x.tl-tab--selected {
      @apply border-b-primary;
    }
    .tl-tab-y {
      @apply w-full border-x-[0.6rem] pl-[1.4rem] no-touch:hover:border-l-primary no-touch:hover:bg-base-content no-touch:hover:bg-opacity-5;
    }
    .tl-tab-y.tl-tab--selected {
      @apply border-l-primary bg-base-content bg-opacity-10 no-touch:hover:bg-base-content no-touch:hover:bg-opacity-5;
    }
    .blurb {
      @apply relative pl-[calc(var(--site-space-x)+1.2rem)] pr-[var(--site-space-x)] w-full max-w-[36rem] text-current bg-opacity-10;

      &::before {
        content: "";
        @apply absolute left-[0.6rem] h-full w-[0.6rem] bg-current opacity-75;
      }
    }
    .border-std {
      /* @apply border border-[oklch(100%_0_0_/_25%)]; */
      @apply border border-neutral border-opacity-15 shadow-std;
    }
    .cell {
      @apply flex flex-col gap-[var(--site-space-x-sm)] bg-empty !bg-opacity-60 dark:!bg-opacity-30 rounded-lg p-[var(--site-space-x)] border-std;
      @apply motion-safe:opacity-0 intersect:animate-fade-up intersect-once motion-reduce:intersect:animate-none;
    }
  }

  @tailwind utilities;
  @layer utilities {
    .site-section {
      @apply scroll-mt-[calc(var(--nav-height)+var(--site-space-x))];
    }
    .no-animation-delay {
      animation-delay: 0s;
    }
    .glassy {
      backdrop-filter: blur(75px);
    }
    .glass-card {
      @apply p-[var(--site-space-x)] transition-all overflow-clip;
    }
    .glass-narrow {
      border-radius: 0;
      margin-left: calc(var(--site-space-x) * -1);
      margin-right: calc(var(--site-space-x) * -1);
      box-shadow:
        0px 2px 2px 0px #ffffff48 inset,
        0px -2px 2px 0px #00000048 inset;
    }
    .glass-wide {
      border-radius: 1.75rem;
      box-shadow:
        1px 2px 2px 0px #ffffff48 inset,
        -1px -2px 2px 0px #00000048 inset;
      margin-left: 0;
      margin-right: 0;
    }
    .glass-responsive {
      @apply glass-wide;
    }
    .glass-empty-header {
      @apply bg-opacity-30 bg-empty;
    }
    .glass-base {
      @apply bg-opacity-30 bg-base-100;
    }
    .glass-empty {
      @apply bg-opacity-50 bg-empty;
    }
    .glass-full {
      @apply bg-opacity-50 bg-full;
    }
    .glass-full-header {
      @apply bg-opacity-25 bg-full;
    }
    .btn-overlay {
      @apply aspect-square rounded-full bg-neutral bg-opacity-60 backdrop-blur-xl w-10 flex justify-center items-center text-black text-lg;
    }
  }
</style>
